<div class="bio">
    <h1>About Me</h1>
    <p class="p1">Short formal intro for announcements, introductions, and the like<p>
    <p>Batmanlai Tsogt is an Instructional Specialist at 2U's Data-Analytics bootcamp, 
        dedicated to providing high-quality digital education. With experience in software engineering, 
        Batmanlai excels in web development and machine learning.
        His skills encompass .NET Core, Angular, and Python for data analytics. Batmanlai holds a 
        Bachelor's degree from Amherst College,
        with a focus on Astrophysics. Fluent in Mongolian, Batmanlai brings a diverse perspective to his endeavors.
    </p>
</div>

<!-- [ngClass]="{ 'dark-mode': isDark }" -->