<div class = 'container'>
    <table>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Last Commit</th>
                <th>GitHub</th>
            </tr>
        </thead>
        <tbody>
            <!-- angular portfolio -->
            <tr>
                <td>Angular Portfolio</td>
                <td>Jul 20th, 2023</td>
                <td>
                    <div class="widget">
                        <a class="btn" href="https://github.com/btsogt21/angular-portfolio" rel="noopener" target="_blank">
                            <svg viewBox="0 0 16 16" width="14" height="14" class="octicon octicon-star" aria-hidden="true">
                                <path d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Zm0 2.445L6.615 5.5a.75.75 0 0 1-.564.41l-3.097.45 2.24 2.184a.75.75 0 0 1 .216.664l-.528 3.084 2.769-1.456a.75.75 0 0 1 .698 0l2.77 1.456-.53-3.084a.75.75 0 0 1 .216-.664l2.24-2.183-3.096-.45a.75.75 0 0 1-.564-.41L8 2.694Z"></path>
                            </svg>&nbsp;<span>Star</span>
                        </a>
                    </div>
                </td>
            </tr>
            <!-- NGC 2264 Project -->
            <tr>
                <td>Multi-Week Observation of Star Cluster NGC 2264</td>
                <td>Feb 6th, 2022</td>
                <td>
                    <div class="widget">
                        <a class="btn" href="https://github.com/btsogt21/NGC-2264-Capstone-Project-ASTR-341" rel="noopener" target="_blank">
                            <svg viewBox="0 0 16 16" width="14" height="14" class="octicon octicon-star" aria-hidden="true">
                                <path d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Zm0 2.445L6.615 5.5a.75.75 0 0 1-.564.41l-3.097.45 2.24 2.184a.75.75 0 0 1 .216.664l-.528 3.084 2.769-1.456a.75.75 0 0 1 .698 0l2.77 1.456-.53-3.084a.75.75 0 0 1 .216-.664l2.24-2.183-3.096-.45a.75.75 0 0 1-.564-.41L8 2.694Z"></path>
                            </svg>&nbsp;<span>Star</span>
                        </a>
                    </div>
                </td>
            </tr>
            <!-- Front-End Browser Tetris -->
            <tr>
                <td>Browser Tetris</td>
                <td>Jun 27th, 2022</td>
                <td>
                    <div class="widget">
                        <a class="btn" href="https://github.com/btsogt21/Retro-Tetris-in-HTML-CSS-and-JS" rel="noopener" target="_blank">
                            <svg viewBox="0 0 16 16" width="14" height="14" class="octicon octicon-star" aria-hidden="true">
                                <path d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Zm0 2.445L6.615 5.5a.75.75 0 0 1-.564.41l-3.097.45 2.24 2.184a.75.75 0 0 1 .216.664l-.528 3.084 2.769-1.456a.75.75 0 0 1 .698 0l2.77 1.456-.53-3.084a.75.75 0 0 1 .216-.664l2.24-2.183-3.096-.45a.75.75 0 0 1-.564-.41L8 2.694Z"></path>
                            </svg>&nbsp;<span>Star</span>
                        </a>
                    </div>
                </td>
            </tr>
            <!-- Tinder Autoswiper with facial recog -->
            <tr>
                <td>Autoswiper with Facial Recog</td>
                <td>Jan 15th, 2022</td>
                <td>
                    <div class="widget">
                        <a class="btn" href="https://github.com/btsogt21/Project_Based_Learning/tree/main/Python%20Projects/Project%202.1%20-%20Tinder%20Autoswiper%20(Unlisted)" rel="noopener" target="_blank">
                            <svg viewBox="0 0 16 16" width="14" height="14" class="octicon octicon-star" aria-hidden="true">
                                <path d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Zm0 2.445L6.615 5.5a.75.75 0 0 1-.564.41l-3.097.45 2.24 2.184a.75.75 0 0 1 .216.664l-.528 3.084 2.769-1.456a.75.75 0 0 1 .698 0l2.77 1.456-.53-3.084a.75.75 0 0 1 .216-.664l2.24-2.183-3.096-.45a.75.75 0 0 1-.564-.41L8 2.694Z"></path>
                            </svg>&nbsp;<span>Star</span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>

            </tr>
        </tbody>
    </table>
</div>