<div class="container">
    <!-- <button class = "toggle-sidebar-btn" (click)= "toggleSidebar()">
        Toggle Sidebar
    </button> -->
    <!-- <button class = "toggle-dark-mode-btn" (click)="toggleDarkMode()">
        Toggle Dark Mode
    </button> -->
    <div class = "arrow-container" [ngClass]="{ 'dark-mode': isDarkMode }" (mouseenter)="openSidebar()" (mouseleave)="closeSidebar()">
        <fa-icon [icon]="isCollapsed ? myChevronRight : myChevronLeft" class="arrow-icon"></fa-icon>
    </div>
    <nav class="sidebar" [ngClass]="{ 'collapsed': isCollapsed, 'dark-mode': isDarkMode }" (mouseover)="openSidebar()" (mouseout)="closeSidebar()">
        <ul>
            <!-- Sidebar Content -->
            <li><a routerLink="/">home</a></li>
            <li><a routerLink="/about">about</a></li>
            <li><a routerLink="/projects">projects</a></li>
            <li><a routerLink="/contact">contact</a></li>
            <li class = "theme-toggle">
                <a (click)="toggleDarkMode()">
                    <fa-icon [icon]="isDarkMode ? mySun : myMoon"></fa-icon>
                </a>
            </li>
        </ul>
    </nav>
    <main class="main-content">
    <!-- Main content area for individual page content -->
        <ng-content>

        </ng-content>
        <img src="https://64.media.tumblr.com/54928977237de2e17a476c9043a45c23/tumblr_napkh7KRLF1ro0n55o1_500.gif" class="zaheer-gif">
    </main>
</div>