.container {
    display: flex;
    flex-direction: row;
}

.toggle-sidebar-btn {
    position: fixed;
    z-index: 1;
}
  
.sidebar {
    position:relative;
    left:2.4rem;
    width: calc(100% - 2.4rem);
    height: 60px;
    background-color: #f5f5f5;
    transition: width 0.3s ease-in-out, opacity 0.5s ease-in-out, background-color 0.5s ease, color 0.5s ease;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Roboto", sans-serif;
    overflow:hidden;
    &.collapsed {
        width: 0;
        opacity: 0;
    }
}

.sidebar ul {
    list-style: none;
    display:flex;
    padding: 0;
    margin: 0;
    // width: 100%;
    // text-align: center;
}

.sidebar li{
    margin-left: 1rem;
    margin-right: 1rem;
}

.sidebar a{
    color: #333;
    text-decoration:none;
    font-size: 1.2rem;
}

.sidebar a:hover {
    color:#007bff;
}

.main-content {
    // padding: 1rem;
}

.toggle-dark-mode-btn {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 1;
}

.arrow-container{
    position:absolute;
    left:0; // Adjust this value to position the arrow icon on the left edge of the page
    height: 60px;
    width: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // z-index:1;
    cursor:pointer;
}
.arrow-icon{
    // transition: color 0.5s ease;
    font-size:1.2rem;
}

.zaheer-wrapper{
    display:flex;
    justify-content:center;
    margin-top:50px;
}
.zaheer-gif {
    height: auto;
    width: 40%;
    pointer-events: none;
    user-select: none;
  }

.wind-container {
    position:fixed;
}

.dark-mode {
    background-color: #333;
}

.dark-mode a {
    color: #f5f5f5;
}

.dark-mode a:hover {
    color: #007bff;
}

.dark-mode .arrow-icon {
    color: #f5f5f5;
}
  
.dark-mode .arrow-icon:hover {
    color: #007bff;
}