<div class="container">
    <!-- [ngClass]="{ 'dark-mode': isDark} -->
    <div class="header">
        <h1>
            Batmanlai Tsogt
            <p id = "title">Developer and Data Analyst</p>
        </h1>
        <p id="roles">
            Instructional Staff @ <a href="https://2u.com/" target="_blank">2U</a> •
            Previously: Developer @ <a href="http://www.tamanuka.mn/" target="_blank">Batanugan</a> 
            / .NET Engineer @ <a href="https://antra.com/" target="_blank">Antra</a>
            / Market Research Intern @ <a href="https://carallel.com/" target="_blank">Carallel</a>
            / Research Intern @ <a href="https://www.mndu.gov.mn/" target="_blank">MNDU</a>
        </p>
    </div>
    <article>
        <div class="profile-bio">
            <div class="profile">
                <img src="assets/cropped_2.PNG" alt="photo">
            </div>
            <div class = "bio">
                <p id = 'p1'>Hello there! 👋</p>
                <p>Thanks for stopping by! I'm an Instructional Specialist at <a href="https://2u.com/about/boot-camps/" target="_blank">2U's Data-Analytics bootcamp</a>. Our team is committed to unlocking human potential and solving societal needs through providing high-quality digital education. If this resonates with you, <a href="https://2u.com/careers/jobs/" target="_blank">we are actively hiring (full + part time)</a>!</p>
                <p>As a software engineer, my interest lies in web development and machine learning. I have nearly two years of experience developing web applications in a .NET Core oriented environment, handling responsibilities including but not limited to database configuration, data-access layer implementation, authentication and authorization, UI/UX, and unit testing. I'm adept at Git for source control and have hands-on experience with Angular. I am open to new opportunities that leverage and further develop my skillset!</p>
                <p>Beyond software engineering, my expertise extends to data analytics, particularly using Python and R. I've built comprehensive pipelines, employing libraries like Pandas and SciPy for data manipulation and AstroPy for astronomical computations. I'm skilled in data extraction and validation using custom-built scripts, data storage in SQL databases, and in-depth analysis using machine learning techniques. I've conducted multivariate analyses, generating visuals with Matplotlib and Seaborn to provide clear, actionable insights.</p>
                <p>I completed my Bachelors at <a href="https://www.amherst.edu/" target="_blank">Amherst College</a>, initially studying economics before shifting my focus to astronomy. For my capstone project, I measured <a href="https://ngc2264researchbruce.wordpress.com/" target="_blank">photometric variability in 42 'burster' T-Tauri Star</a> over the course of a month, examining their ultraviolet excess in order to estimate mass accretion over small timescales.</p>
                <p>Outside of professional pursuits, I enjoy coding challenges, calisthenics, and day-trading. I was also raised in Mongolia and speak fluent Mongolian.</p>
            </div>
        </div>
    </article>
</div>