:host {
  // display: block; //redundat as it is the default value;
  background-color: #f5f5f5;
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 349;
}
.container {
  max-width:850px;
  margin: 0 auto;
  // margin-top: 0 auto;
  // margin-left: 0 auto;
  // margin-bottom: 0 auto;
  // margin-right: 0 auto;
  // margin-top:-21px;
  .header{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom:20px;
    margin-top:20px;
    h1{
      margin: 0 auto;
      #title{
        margin: 0 auto;
      }
    }
    #roles{
      margin-top: 10px;
      margin-bottom:0px;
    }
  }
  // @media (min-width:1200px){
  //   transform:scale(1);
  // }
  // @media (max-width:600px){
  //   transform:scale(0.8);
  // }
}

.profile-bio {
  // display:flex;
  // justify-content: space-between;
  // align-items:flex-start;
  margin-right: 20px;
  margin-left: 20px;
  .profile {
    // flex: 0 0 auto;
    // margin-left: 20px;
    margin-bottom: 5px;
    width:100%;
    float:right;
    img{
      border-radius: 3%;
      // max-width: 80%;
      width:100%;
      // height:auto;
    }
  }
  .bio{
    text-align:justify;
    overflow-wrap: break-word;
    #p1{
      margin-top: 0px;
    }
  }
}

// .clearfix::after {
//   content: "";
//   display: table;
//   clear: both;
// }

.dark-mode{
  background-color: #333;
  color: #f5f5f5;
  .header{
    h1{
      color: #f5f5f5;
    }
    #roles{
      color: #f5f5f5;
    }
  }
  .profile-bio{
    .bio{
      color: #f5f5f5;
    }
  }
}